###############################################################################
#
#                 Copyright (c) 2017-2019 by Löwenware Ltd
#              Please, refer LICENSE file for legal information
#
###############################################################################

prefix=/usr/local
exec_prefix=${prefix}
libdir=${exec_prefix}/lib
includedir=${prefix}/include

Name: libaisl
URL: https://lowenware.com/aisl/
Description: Asynchronous Internet Server Library
Version: 1.0.0
Libs: -L${libdir} -laisl
Libs.private: -lcrypto -lssl
Cflags: -I${includedir} 
